<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SatDownloadServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SatDownloadServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://serviciocontamatico.com.azhar.arvixe.com/SatDownloadService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SatDownloadServiceSoap"
                contract="SatDownloadService.SatDownloadServiceSoap" name="SatDownloadServiceSoap" />
            <endpoint address="http://serviciocontamatico.com.azhar.arvixe.com/SatDownloadService.asmx"
                binding="customBinding" bindingConfiguration="SatDownloadServiceSoap12"
                contract="SatDownloadService.SatDownloadServiceSoap" name="SatDownloadServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>