<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <!--<property name="connection.driver_class">NHibernate.Driver.SqlServerDriver</property>-->
    <property name="connection.connection_string">Data Source=azhar.arvixe.com;Initial Catalog=SatDownload;User ID=satdownload_user;Password=A5Dy7j698Z+ycJqG</property>
    <property name="show_sql">false</property>
  </session-factory>
</hibernate-configuration>